@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Pontano Sans', sans-serif;
	background-color: #FFDC52;
}

header {
    margin: 2% 0;
}

header h1 {
    font-size: 4em;
    margin: 0 auto;
	padding: 2%;
    color: #eb1f48;
    font-weight:700;
    text-align: center;
    font-family: 'Lobster Two', cursive;
}

table {
    border-collapse: collapse;
    background-color:#eb1f48;
    width: 95%;
    margin: 10% 2% 0 2%;
    padding: 0;
}

td , tr {
    width: 85px;
    height: 85px;
}

td {
	border:1px white solid;
	text-align:center;
    font-size: 4em;
    font-family: 'Pontano Sans', sans-serif; 
}
/* --------------- También agregué este botón pa volver ------------- */
#botVolverJ {
    background-color:#FFDC52;
    padding: 2%;
    margin: 0 2% 0 5%;
    border: none;
	text-align: center; 
    font-family: 'Oswald', sans-serif;
}
#botVolverJ a{
    text-decoration: none;     
    color:black;
}
/*  ---------------   MARCADOR  --------------------  */
#marcador {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#player1 , #player2 {
    text-transform: uppercase;
    text-align: center;
    width: 47%;
    display: block;
    float: left;
    border: 1px solid;
    margin: 1%;
    font-size: 1.5em;
}

#foto1, #foto2 {
    float: right;
    margin: 5%;
}
/*  ---------------   CAMBIO DE ESTADO JUGADORES  --------------------  */
#player1.enJuego , #player2.enJuego {
    font-weight: bolder;
}

#player1.enJuego{
	background-color: yellowgreen;
}

#player2.enJuego{ 
	background-color:cornflowerblue;
}

#puntajes, #reseT{
    background-color:#eb1f48;
	color:#FFF;
	text-align: center;
	padding: 2%;
    border-style: none;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}

#reseT{  /* cambiado por juli*/
    width: 60%;
    margin: 5% 0 0 2%;
}

/* --------------- Lo agregó Ori! ------------------ */
.showWinsP1, #userNickP1, .showWinsP2, #userNickP2 {
    font-size: 1.2em;
    padding: 2%;
    color:#FFF;
}

#userNickP1 {
    background-color: yellowgreen;
    width: 50%;
}

#userNickP2 {
  	background-color:cornflowerblue;  
    width: 50%;
}

#historialJugadores {
     background-color:#eb1f48;   
     border: 1px solid #000;
     display: none;
     width: 94%;
     height: 30%;
     left: 2%;
     right: 2%;
     position: fixed;
     z-index: 20;
}

#puntajes{
    margin-left: 2%;
}